* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(158, 235, 119);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

button {
  color: white;
  background-color: purple;
  font-size: medium;
  width: 150px;
  height: 35px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.more-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.photo-card {
  width: 280px;
  border: solid 1px gray;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 6px 7px 11px 1px rgba(0, 0, 0, 0.72);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  margin-top: 80px;
}

.photo {
  width: 280px;
  height: 180px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__link {
  text-decoration: none;
  color: #212121;
}
